{% extends "/base.html" %}
{% import "/utils.html" as utils %}

{% block main %}
<a href={{url_for('admin.create_record')}} class = "btn btn-large btn-primary">创建admin域名</a>
<table class="table table-striped">
  <thead>
    <tr>
      <td>用户</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{user.name}}</td>
        <td align='center'><a href={{url_for('admin.user_records', username=user.name)}} class="btn btn-large btn-primary">瞅瞅</a></td>
      </tr>
    {% endfor %}
  </tbody>
{%endblock%}

