{% extends "/base.html" %}
{% import "/utils.html" as utils %}

{% block main %}

<table class="table table-striped">
  <thead>
    <tr>
      <td> Network</td>
      <td> Host</td>
      <td> Comment</td>
      <td> Ops</td>
    </tr>
  </thead>
  <tbody>
  {% if record.hosts %}
    {% for net, host in record.hosts.iteritems()%}
      {% for h in host%}
        <tr>
          <td>{{net}}</td>
          <td>{{h}}</td>
          <td>{{comments[h]}}</td>
          <td>
            <div class="col-xs-4">
              <button class="btn btn-block btn-sm btn-danger" data-net="{{ net }}" data-host="{{ h }}">
                <span class="fui-trash"></span> 删除
              </button>
            </div>
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
    <script>
      $('.btn-danger.btn-sm').click(function(e){
        e.preventDefault();
        if (!confirm('确定要删除么?')) {
          return;
        }
        var self = $(this),
          href = "{{url_for('record.delete_host_from_record', record_id=record.id)}}";
        var cidr = self.data('net');
        var host = self.data('host');
        $.post(href, {'cidr': cidr, 'host': host}, function(){
          window.location.href = '/';
        });
      });
    </script>
  {% endif %}
  </tbody>
</table>

  <form class="form-horizontal" method="post" action="{{url_for('record.add_host_to_record', record_id=record.id)}}">
    {% with infos = get_flashed_messages(category_filter=['info'])%}
      {% if infos %}
        <div class="form-group">
          {% for info in infos %}
            <label class="text-warning col-sm-offset-2 col-sm-4">
              <span class="fui-alert-circle"></span> {{info}}
            </label>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <div class="form-group">
      <label class="col-sm-2 control-label">域名</label>
      <div class="col-sm-4">
        <span>{{record.domain}}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">CIDR</label>
      <div class="col-sm-4">
        <select name="cidr" class="form-control">
          {% for cidr in cidrs %}
            <option value="{{cidr.cidr}}">{{cidr.cidr}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">地址</label>
      <div class="col-sm-4">
        <input name="host" type="text" class="form-control" placeholder="地址, 如10.1.201.47, 或者redis-ctl.intra.hunantv.com">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">备注</label>
      <div class="col-sm-4">
        <input name="comment" type="text" class="form-control" placeholder="">
      </div>
    </div>
    {% with errors = get_flashed_messages(category_filter=['error'])%}
      {% if errors %}
        <div class="form-group">
          {% for error in errors %}
            <label class="text-danger col-sm-offset-2 col-sm-4">
              <span class="fui-cross-circle"></span> {{error}}
            </label>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-4">
        <button type="submit" class="btn btn-primary">ADD HOST  :-)</button>
      </div>
    </div>
  </form>
{% endblock %}
