{% macro paginator(start, total, perpage, endpoint) %}

  {% set cur_page = start // perpage + 1 %}
  {% set total_page = total // perpage + 1 %}
  {% set begin = max(cur_page-3, 1) %}
  {% set end = min(cur_page+3, total_page) %}
  {% set prev = 'disabled' if cur_page <=1 else '' %}
  {% set next = 'disabled' if cur_page >= total_page else '' %}
  {% set prev_num = max((cur_page-2)*perpage, 0) %}
  {% set kw = paginator_kwargs(kwargs) %}

  {% if total > 0 %}
    <ul class="pagination-plain">
      <li class="previous {{prev}}">
        <a href="{{url_for(endpoint, start=prev_num, limit=perpage, **kw)}}">
          <span class="fui-triangle-left-large"></span> 上一页
        </a>
      </li>
      {% for i in range(begin, end+1) %}
        <li class="{{'active' if cur_page == i else ''}}">
          <a href="{{url_for(endpoint, start=(i-1)*perpage, limit=perpage, **kw)}}">{{i}}</a>
        </li>
      {% endfor %}
      <li class="next {{next}}">
        <a href="{{url_for(endpoint, start=cur_page*perpage, limit=perpage, **kw)}}">
          下一页 <span class="fui-triangle-right-large"></span>
        </a>
      </li>
    </ul>
  {% endif %}

{% endmacro %}

{# vim:set ft=jinja: #}
